In this notebook, would have 6 scenarios to solve the problem. Generally differentiate by the use of the data
1. Combining all the A1, A2, A3 into one dataframe and combining all the B1, B2, B3, B4, B5,B7 into another dataframe.
2. Combining all the A1, A2, A3 and B1, B2, B3, B4, B5,B7 into one dataframe.\
Each of the above data scenario would have 3 scenarios to train
   1. Using 10-fold cross validation
   2. Using 75% train and 25% test split
   3. Using 50% train and 25% validation and 25% test split\

# Data Loading and Preprocessing

In [1]:
import pandas as pd

In [2]:
A1 = pd.read_excel('data/CPA1.xlsx')
A2 = pd.read_excel('data/CPA2.xlsx')
A3 = pd.read_excel('data/CPA3.xlsx')

In [3]:
A1.head()

     powLv1    powLv2    powLv3    powLv4    powLv5 kelas
0  0.446692  0.220117  0.144672  0.106003  0.082516     A
1  0.442455  0.219658  0.145039  0.107494  0.085354     A
2  0.446993  0.220535  0.144443  0.105565  0.082465     A
3  0.457090  0.221898  0.141954  0.101666  0.077392     A
4  0.447407  0.220674  0.143812  0.105975  0.082134     A

In [4]:
A2.head()

     powLv1    powLv2    powLv3    powLv4    powLv5 kelas
0  0.448457  0.220860  0.143938  0.104903  0.081841     B
1  0.448288  0.221315  0.144335  0.104964  0.081099     B
2  0.448916  0.221049  0.143741  0.105198  0.081096     B
3  0.449600  0.221141  0.144107  0.104930  0.080222     B
4  0.451886  0.221594  0.143987  0.103718  0.078816     B

In [5]:
A3.head()

     powLv1    powLv2    powLv3    powLv4    powLv5 kelas
0  0.446692  0.220117  0.144672  0.106003  0.082516     A
1  0.442455  0.219658  0.145039  0.107494  0.085354     A
2  0.446993  0.220535  0.144443  0.105565  0.082465     A
3  0.457090  0.221898  0.141954  0.101666  0.077392     A
4  0.447407  0.220674  0.143812  0.105975  0.082134     A

In [6]:
#count the number of class in the file
A1_counts = A1['kelas'].value_counts()
A2_counts = A2['kelas'].value_counts()
A3_counts = A3['kelas'].value_counts()
print(A1_counts)
print(A2_counts)
print(A3_counts)

kelas
A    100
E    100
Name: count, dtype: int64
kelas
B    100
E    100
Name: count, dtype: int64
kelas
A    200
E    100
Name: count, dtype: int64

In [7]:
B1 = pd.read_excel('data/CPB1.xlsx')
B2 = pd.read_excel('data/CPB2.xlsx')
B3 = pd.read_excel('data/CPB3.xlsx')
B4 = pd.read_excel('data/CPB4.xlsx')
B5 = pd.read_excel('data/CPB5.xlsx')
B6 = pd.read_excel('data/CPB6.xlsx')
B7 = pd.read_excel('data/CPB7.xlsx')

In [8]:
B1.head()

     powLv1    powLv2    powLv3    powLv4    powLv5 kelas
0  0.446692  0.220117  0.144672  0.106003  0.082516     A
1  0.442455  0.219658  0.145039  0.107494  0.085354     A
2  0.446993  0.220535  0.144443  0.105565  0.082465     A
3  0.457090  0.221898  0.141954  0.101666  0.077392     A
4  0.447407  0.220674  0.143812  0.105975  0.082134     A

In [9]:
B2.head()

     powLv1    powLv2    powLv3    powLv4    powLv5 kelas
0  0.446692  0.220117  0.144672  0.106003  0.082516     A
1  0.442455  0.219658  0.145039  0.107494  0.085354     A
2  0.446993  0.220535  0.144443  0.105565  0.082465     A
3  0.457090  0.221898  0.141954  0.101666  0.077392     A
4  0.447407  0.220674  0.143812  0.105975  0.082134     A

In [10]:
B1_counts = B1['kelas'].value_counts()
B2_counts = B2['kelas'].value_counts()
B3_counts = B3['kelas'].value_counts()
B4_counts = B4['kelas'].value_counts()
B5_counts = B5['kelas'].value_counts()
B6_counts = B6['kelas'].value_counts()
B7_counts = B7['kelas'].value_counts()
print(B1_counts)
print(B2_counts)
print(B3_counts)
print(B4_counts)
print(B5_counts)
print(B6_counts)
print(B7_counts)

kelas
A    100
C    100
Name: count, dtype: int64
kelas
A    100
D    100
Name: count, dtype: int64
kelas
B    100
C    100
Name: count, dtype: int64
kelas
B    100
D    100
Name: count, dtype: int64
kelas
A    200
C    100
Name: count, dtype: int64
kelas
A    200
D    100
Name: count, dtype: int64
kelas
A    200
C    200
Name: count, dtype: int64

In [11]:
B1_counts.iloc[0]

100

In [12]:
# write down the value counts as string with this format
# BX file have BX_counts.iloc[0] data labeled as BX_counts.index[0] and  BX_counts.iloc[1] data labeled as BX_counts.index[1], and so on
# for example: B1 file have 100 data labeled as A class and 100 data labeled as C class
# you should write it as "B1 file have 100 data labeled as A class and 100 data labeled as C class"
for i in range(1, 8):
    B_counts = eval(f'B{i}_counts')
    B_counts_str = f'B{i}_counts_str'
    exec(f'{B_counts_str} = f"B{i} file have {B_counts.iloc[0]} data labeled as {B_counts.index[0]} class and {B_counts.iloc[1]} data labeled as {B_counts.index[1]} class"')
    print(eval(B_counts_str))

B1 file have 100 data labeled as A class and 100 data labeled as C class
B2 file have 100 data labeled as A class and 100 data labeled as D class
B3 file have 100 data labeled as B class and 100 data labeled as C class
B4 file have 100 data labeled as B class and 100 data labeled as D class
B5 file have 200 data labeled as A class and 100 data labeled as C class
B6 file have 200 data labeled as A class and 100 data labeled as D class
B7 file have 200 data labeled as A class and 200 data labeled as C class

# A Dataframe and B Dataframe Scenario

In [ ]:
# Define KFold object
kfold = KFold(n_splits=10, shuffle=True, random_state=42)

# Define metrics function
def evaluate_model(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    accuracy = accuracy_score(y_test, y_pred)
    sensitivity = recall_score(y_test, y_pred, average="weighted")  # Macro-average for imbalanced data
    specificity = 1 - recall_score(y_test, y_pred, average="weighted", pos_label="not_selected")  # Macro-average for imbalanced data
    f1 = f1_score(y_test, y_pred, average="weighted")  # Macro-average for imbalanced data

    print(f"Metrics:")
    print(f"\tAccuracy: {accuracy:.4f}")
    print(f"\tSensitivity: {sensitivity:.4f}")
    print(f"\tSpecificity: {specificity:.4f}")
    print(f"\tF1-Score: {f1:.4f}")

# K-Nearest Neighbors (K-NN) Classification
print("**K-Nearest Neighbors (K-NN):**")
for train_index, test_index in kfold.split(X):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y_test[test_index]

    # Train-test split within fold (optional, for consistency with SVM)
    X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=42)

    knn = KNeighborsClassifier(n_neighbors=5)  # Adjust n_neighbors as needed
    evaluate_model(knn, X_train, X_val, y_train, y_val)

# SVM Classification
print("**Support Vector Machine (SVM):**")
for train_index, test_index in kfold.split(X):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y_test[test_index]

    # Train-test split within fold (optional)
    X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=42)

    svm = SVC(kernel='linear')  # Adjust kernel and other parameters as needed
    evaluate_model(svm, X_train, X_val, y_train, y_val)

In [12]:
# concatenate the data from all the files
A = pd.concat([A1, A2, A3])
B = pd.concat([B1, B2, B3, B4, B5, B6, B7])

## 10-Fold Cross Validation

## 75% Train and 25% Test Split

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
KNN_model = KNeighborsClassifier(n_neighbors=5)
KNN_model.fit(X_train_scaled, Y_train)
KNN_prediction = KNN_model.predict(X_test_scaled)

In [ ]:
from sklearn.svm import SVC
SVM_model = SVC(kernel='sigmoid')
SVM_model.fit(X_train_scaled, Y_train)
SVM_prediction = SVM_model.predict(X_test_scaled)

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
KNN_confusion = confusion_matrix(Y_test, KNN_prediction)
KNN_accuracy = accuracy_score(Y_test, KNN_prediction)
SVM_confusion = confusion_matrix(Y_test, SVM_prediction)
SVM_accuracy = accuracy_score(Y_test, SVM_prediction)
print(KNN_confusion)
print(KNN_accuracy)
print(SVM_confusion)
print(SVM_accuracy)

[[183  37   0   0   0]
 [ 43   3   0   0   0]
 [ 10   5  75  17   3]
 [  8   1  18  34   6]
 [ 21   4   1   1  30]]
0.65
[[150   0  29  10  31]
 [ 34   0   6   0   6]
 [  5   0  73  28   4]
 [  7   0  38  18   4]
 [ 40   0  12   0   5]]
0.492

In [8]:
# Coba dengan hanya data A dan B
A_value_counts = A['kelas'].value_counts()
B_value_counts = B['kelas'].value_counts()
print(A_value_counts)
print(B_value_counts)

kelas
A    300
E    300
B    100
Name: count, dtype: int64
kelas
A    800
C    500
D    300
B    200
Name: count, dtype: int64

In [11]:
A_used = A.groupby('kelas').apply(lambda x: x.sample(n=100)).reset_index(drop=True)
A_used_value_counts = A_used['kelas'].value_counts()
print(A_used_value_counts)
B_used = B.groupby('kelas').apply(lambda x: x.sample(n=100)).reset_index(drop=True)
B_used_value_counts = B_used['kelas'].value_counts()
print(B_used_value_counts)

kelas
A    100
B    100
E    100
Name: count, dtype: int64
kelas
A    100
B    100
C    100
D    100
Name: count, dtype: int64

In [12]:
A_feature = A.drop('kelas', axis=1)
A_target = A['kelas']
B_feature = B.drop('kelas', axis=1)
B_target = B['kelas']

In [ ]:
# convert kelas from 'A', 'B', 'C', 'D', 'E' to 0, 1, 2, 3, 4
A_target = A_target.apply(lambda x: ord(x) - ord('A'))
B_target = B_target.apply(lambda x: ord(x) - ord('A'))

In [21]:
from sklearn.model_selection import LeaveOneOut
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
ten_fold_cv = LeaveOneOut()
from sklearn.neighbors import KNeighborsClassifier
KNN_model_A = KNeighborsClassifier(n_neighbors=3)
KNN_model_B = KNeighborsClassifier(n_neighbors=4)
from sklearn.svm import SVC
SVM_model_A = SVC(kernel='sigmoid')
SVM_model_B = SVC(kernel='sigmoid')

In [24]:
from sklearn.metrics import confusion_matrix, accuracy_score
def count_metric(y_true, y_pred):
    tp, fp = confusion_matrix(y_true, y_pred).ravel()
    accuracy = accuracy_score(y_true, y_pred)
    
    # manually count sensitivity, specificity, and f1-score
    sensitivity = confusion[0] / (confusion[0] + confusion[2])
    specificity = confusion[1] / (confusion[1] + confusion[3])
    f1_score = 2 * (sensitivity * specificity) / (sensitivity + specificity)
    return confusion, accuracy, sensitivity, specificity, f1_score

In [ ]:
for train_index, test_index in ten_fold_cv.split(A_feature):
    A_train_feature, A_test_feature = A_feature.iloc[train_index], A_feature.iloc[test_index]
    A_train_target, A_test_target = A_target.iloc[train_index], A_target.iloc[test_index]
    B_train_feature, B_test_feature = B_feature.iloc[train_index], B_feature.iloc[test_index]
    B_train_target, B_test_target = B_target.iloc[train_index], B_target.iloc[test_index]

    A_train_feature_scaled = scaler.fit_transform(A_train_feature)
    A_test_feature_scaled = scaler.transform(A_test_feature)
    B_train_feature_scaled = scaler.fit_transform(B_train_feature)
    B_test_feature_scaled = scaler.transform(B_test_feature)

    KNN_model_A.fit(A_train_feature_scaled, A_train_target)
    KNN_prediction_A = KNN_model_A.predict(A_test_feature_scaled)
    SVM_model_A.fit(A_train_feature_scaled, A_train_target)
    SVM_prediction_A = SVM_model_A.predict(A_test_feature_scaled)

    KNN_model_B.fit(B_train_feature_scaled, B_train_target)
    KNN_prediction_B = KNN_model_B.predict(B_test_feature_scaled)
    SVM_model_B.fit(B_train_feature_scaled, B_train_target)
    SVM_prediction_B = SVM_model_B.predict(B_test_feature_scaled)

    
    KNN_A_metric = count_metric(A_test_target, KNN_prediction_A)
    SVM_A_metric = count_metric(A_test_target, SVM_prediction_A)
    KNN_B_metric = count_metric(B_test_target, KNN_prediction_B)
    SVM_B_metric = count_metric(B_test_target, SVM_prediction_B)

    print("KNN A:", KNN_A_metric)
    print("SVM A:", SVM_A_metric)
    print("KNN B:", KNN_B_metric)
    print("SVM B:", SVM_B_metric)

In [ ]:
A_train, A_test, A_target_train, A_target_test = train_test_split(A_feature, A_target, test_size=0.2, random_state=0)
B_train, B_test, B_target_train, B_target_test = train_test_split(B_feature, B_target, test_size=0.2, random_state=0)

In [ ]:
# coba tanpa Scaler
KNN_model_A = KNeighborsClassifier(n_neighbors=3)
KNN_model_A.fit(A_train, A_target_train)
KNN_prediction_A = KNN_model_A.predict(A_test)

In [ ]:
KNN_confusion_A = confusion_matrix(A_target_test, KNN_prediction_A).ravel()
KNN_accuracy_A = accuracy_score(A_target_test, KNN_prediction_A)
print(KNN_confusion_A)
print(KNN_accuracy_A)

[46 13  7 13  0  6  4  0 51]
0.6928571428571428

In [ ]:
KNN_model_B = KNeighborsClassifier(n_neighbors=4)
KNN_model_B.fit(B_train, B_target_train)
KNN_prediction_B = KNN_model_B.predict(B_test)

In [ ]:
KNN_confusion_B = confusion_matrix(B_target_test, KNN_prediction_B).ravel()
KNN_accuracy_B = accuracy_score(B_target_test, KNN_prediction_B)
print(KNN_confusion_B)
print(KNN_accuracy_B)

[152   4   3   0  38   1   1   0   6   0  83  10   2   0  32  28]
0.7333333333333333

# Combined all data into one dataframe Scenario

In [ ]:
combined = pd.concat([A, B])
combined.describe()

In [ ]:
# make X as the feature and Y as the target
X = combined.drop('kelas', axis=1)
Y = combined['kelas']

In [6]:
combined_value_counts = combined['kelas'].value_counts()
combined_value_counts

kelas
A    1100
C     500
E     300
B     300
D     300
Name: count, dtype: int64